{% extends 'base.html' %}

{% block title %}Lista de Personas{% endblock %}

{% block content %}
<h1 class="mb-4">Lista de Personas</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Edad</th>
            <th>Altura</th>
            <th>Peso</th>
            <th>Fecha de Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for persona in personas %}
        <tr>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.get_sexo_display }}</td>
            <td>{{ persona.edad }}</td>
            <td>{{ persona.altura }} cm</td>
            <td>{{ persona.peso }} kg</td>
            <td>{{ persona.fecha_registro|date:"d M Y H:i" }}</td>
            <td>
                <a href="{% url 'detalle_persona' persona.id %}" class="btn btn-info btn-sm">Ver</a>
                <a href="{% url 'editar_persona' persona.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'eliminar_persona' persona.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
